extends layout
block content
  h1= title
  if (toShow== null)
    h2 There is no instance to update
  else 
    - let tabletid = toShow._id
    - let tabletname = toShow.tablet_name
    - let companyname = toShow.company_name
    - let tabletdosage = toShow.tablet_dosage

    div.row(class='mb-2')
      div.mr-1 ID is
      div #{tabletid}
    - let actionid = "/resource/tablets" + tabletid

  form(id='TabletForm', action="actionid,", method="PUT")
    div.form-group
        label.tabletAttr(for='tablet_name') Tablet Name
        input#tablet_name(type='text', name='tablet_name')
    div.form-group
        label.tabletAttr(for='companyname') Company Name
        input#company_name(type='text', name='companyname')
    div.form-group
        label.tabletAttr(for='tabletdosage') Costume cost
        input#tablet_dosage(type='number', name='tabletdosage')
    input(type="submit")
  script.
    document.forms['TabletForm'].addEventListener('submit', (event) => {
      event.preventDefault();
     // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
       // TODO handle body
      }).catch((error) => {
      // TODO handle error
        alert("Save failed " + error )
      });
    });